include LICENSE.txt
include README.rst
include MANIFEST.in
recursive-include datetimewidget *.py *.txt *.rst *.js *.css
recursive-include datetimewidget/static *.js *.css
recursive-include datetimewidget/locale *.po *.mo
