include LICENSE.txt
include README.rst
include MANIFEST.in
recursive-include datetimewidget *.py *.txt *.rst *.js *.css
recursive-include datetimewidget/static *.py *.txt *.js *.css
recursive-include datetimewidget/locale *.py *.txt *.js *.css *.po *.mo
